@media screen and (max-width: 900px) {
    .desktop_navbar {
        display: none;
    }
    .mobile_navbar {
        display: flex;
    }
}
@media (max-width: 768px) {
    .profile_img{
      width: 50vw; /* Adjusts width based on viewport width */
      max-width: 300px; /* Optional: Ensures the image doesn't get too large on small screens */
    }
    .section_container{
      flex-direction: column;
      padding: 5% 5%;
    }
    .section_title{
        font-size: 2rem;
    }
    .section_pic_container {
      flex-direction: column;
    }
    .about_text{
        margin: 2rem;
    }
    .about{
        flex-direction: column;
    }
    .article-container{
        flex-direction: column;
    }
    .projects_container{
        gap: 2rem;
    }
    .foot_nav{
        flex-direction: column;
    }
    .contact_info_container{
        flex-direction: column;
    }
  }

  @media screen and (max-width: 850px) {
    .about_img{
        width: 50vw; /* Adjusts width based on viewport width */
        max-width: 300px; /* Optional: Ensures the image doesn't get too large on small screens */
        height: auto;
    }
    .about{
        flex-direction: column;
      padding: 5% 5%;
    }
    .about_container{
        flex-direction: column;
    }
  }

    @media screen and (max-width: 1000px) {
        .about_container{
            flex-direction: column;
        }
    }

  