*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
}
.desktop_navbar, .mobile_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 17vh;
}
.nav_links{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    list-style: none;
}
.nav_links a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}
.nav_links a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}
.mobile_navbar{
    display: none;
    position: relative;
}
.mobile_navbar.active{
    display: flex;
}
.hamburger_img{
    height: 3rem;
    width: 3rem;
}
.nav_links.active {
    position: absolute;
    display: flex;
    flex-direction: column;
}
